body {

    background: #111;
    color: white;
    font-family: Arial;

}

.container {

    text-align: center;

}

.camera img {

    width: 700px;
    border-radius: 10px;
    margin-top: 20px;

}

.dashboard {

    margin-top: 40px;

}